body {
    box-sizing: border-box;
    background-image: url('/assets/unnamed.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: auto;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgb(94, 44, 3);
    border-radius: 40px;
}